@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233Eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    padding: 10px;
}

@media screen and (orientation: portrait) {
    body{
        background-image: url(../../img/cev-portrait.jpg);
        background-position: center bottom;
    }
}

@media screen and (orientation: landscape) {
    body{
        background-image: url(../../img/cev-landscape.jpg);
        background-position: left bottom;
    }
}