body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    position: relative;
    float: right;
}

nav ul{
    list-style: none;
}

nav img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    transition: .3s;
    cursor: pointer;
}

nav img:hover{
    transform: scale(1.08);
}