@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}

header h1{
    font-size: 7em;
}

header p a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header p a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.text{
    font-size: 3em;
    font-family: 'Sriracha', sans-serif;
    padding: 50px;
}

section.imagem{
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 3em;
    font-family: 'Sriracha', sans-serif;
    padding: 50px;
}

section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

#img1{
    background-image: url('imagens/background001.jpg');
}

#img2{
    background-image: url('imagens/background002.jpg');
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1020px){
    section.text{
        font-size: 1.5em;
    }
    
    section.imagem{
        font-size: 1.5em;
    }
    header h1{
        font-size: 2.9em;
    }
}